.map-container {
  
    position: relative;
    padding: 200px;
  
  }
  
  .sidebarStyle {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }