.jtron-image {
    height: 80vh;
    background-image: url(./images/pexels-dana-tentis-370799.jpg);
}

.user-jtron-image {
    height: 30vh;
    background-image: url(./images/pexels-dana-tentis-370799.jpg);
}

.jumbotext {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
   padding: 25px;
    color: white;
}

.product {
    width: 99vw;
    float: left;
    text-align: center;
}

.service {
    width: 10pc;
    padding: 20px;
}

.parallax {
    /* The image used */
    background-image: url("./images/pexels-shonejai-1227511.jpg");
  
    /* Set a specific height */
    min-height: 300px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .map-search {
      padding-top: 50px;
  }

  .mapbox {
      padding: 25px;
      text-align: center;
  }

  .map {
        margin-left: auto;
        margin-right: auto;
  }

  .review-cards-title {
      text-align: center;
  }

  .review-cards {

      margin-left: auto;
      margin-right: auto;
      /* text-align: center; */
      /* align-items: center; */
      justify-content: center;
  }

  .review-card {
      padding: 25px;
      margin: 10px;
      border: 1px solid black;
  }

  .review-end {
      padding-bottom: 100px;
  }

  footer {
      background-color: grey;
      height: 50px;
      color: white;
  }

  .userPhoto {
      width: auto;
      padding: 25px;
  }

  .userText {
      text-align: center;
  }

  .badgeImg {
      width: 30px;
  }
  
  #servicesItems {
    display: block;
    float: left;
    width: 100%; 
    margin: 0;
    padding: 10;
    text-align: center;
    list-style-type: none;
    margin-bottom: 50px;
  }

  .mapDiv {
      text-align: center;
  }

  .serviceMap {
      padding: 20px;
  }

  .mainSupportText {
      padding: 20px;
      width: 50pc;
  }

  .contactCard {
      margin-left: 25px;
      margin-bottom: 50px;
  }

  /* div {
    border: 1px solid red;
} */